---
import { Icon } from "astro-icon";

const skills = await Astro.glob("../content/skills/*.md");
const experiences = await Astro.glob("../content/experiences/*.md");
const perso = await Astro.glob("../content/perso/*.md");

import { createCanvas } from "@napi-rs/canvas";

// Use images to display email
const canvas = createCanvas(400, 40)
const ctx = canvas.getContext('2d')
ctx.font = "37px ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"
ctx.fillText(import.meta.env.EMAIL, 0, 32)
const emailImage = canvas.toDataURL('image/png')
ctx.clearRect(0, 0, 400, 40)
ctx.font = "34px ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"
ctx.fillText(import.meta.env.PHONE, 170, 30)
const phoneImage = canvas.toDataURL('image/png')

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
  <style>
    @media print {
      body {
        margin: 0;
        padding: 0;
      }
      .no-print, .no-print * {
        display: none !important;
      }
    }
  </style>
</head>
<body class="bg-white font-sans h-resume w-[1100px] m-auto p-4">
  <div class=" flex flex-row items-center">
    <div class="pe-20">
      <h1 class="text-4xl font-bold p-name">David Bertet</h1>
      <p class="font-medium text-gray-500 p-note mt-4">
        Software architect proficient on both iOS and Android. Tackle roadblocks by using automation and building toolings. Able to quickly learn new technologies.<br />
        Committed to delivering pragmatic & high-quality solutions.</p>
    </div>

    <section>
      <ul class="space-y-2">
        <li class="flex place-content-end">
          <a href=`${import.meta.env.BASE_URL}/redirect/email`>
            <img class="w-[200px]" src={emailImage}/>
          </a>
          <Icon class="flex-shrink-0 aspect-square w-5 ms-1 text-blue-500" name="mdi:email" />
        </li>
        <li class="flex place-content-end">
          <img class="w-[200px]" src={phoneImage} /><Icon class="flex-shrink-0 aspect-square w-5 ms-1 text-blue-500" name="mdi:phone" />
        </li>
        <li class="flex place-content-end">
          <a href="https://david.bertet.fr" target="_blank" rel="noopener noreferrer">david.bertet.fr</a><Icon class="aspect-square w-5 ms-1 text-blue-500" name="mdi:web" />
        </li>
        <li class="flex place-content-end">
          <a href="https://www.github.com/DavidBertet" target="_blank" rel="noopener noreferrer">github.com/DavidBertet</a><Icon class="aspect-square w-5 ms-1 text-blue-500" name="mdi:github" />
        </li>
      </ul>      
    </section>
  </div>

  <main class="grid grid-cols-[1fr_2.5fr] gap-10 mt-8">
    <section>
      <div>
        <h2 class="text-2xl font-bold border-b-blue-400 border-b-2">Hackthon</h2>
        <p class="text-gray-600 mt-2">I love creating a workable product in a constraint environment. <br/>I participated to 8 hackathons, 5 times finalist, and won one.</p>
      </div>

      <div>
        <h2 class="text-2xl font-bold border-b-blue-400 border-b-2 mt-8">Skills</h2>
        {
          skills.map(skill => (
            <h3 class="text-xl mt-3 font-semibold">{skill.frontmatter.title}</h3>
            <div class="p-skill-description prose prose-p:mt-1 prose-ul:mb-1"><skill.Content /></div>
          ))
        }
      </div>
    
      <div>
        <h2 class="text-2xl font-bold mt-8 border-b-blue-400 border-b-2">Side Projects</h2>
        {
        perso
          .filter(project => project.frontmatter.on_resume)
          .sort((a, b) => a.frontmatter.on_resume - b.frontmatter.on_resume)
          .map(project => (
            <h3 class="text-xl mt-3 font-semibold">{project.frontmatter.name}</h3>
            <span class="text-blue-500 text-sm">{project.frontmatter.tech}</span>
            <p class="p-project-description text-gray-600">{project.frontmatter.short_description}</p>
          ))
        }
        <p class="mt-4 font-bold">
          Find them all on <a href="https://david.bertet.fr" class="text-blue-500">david.bertet.fr</a>
        </p>
      </div>    
    </section>

    <section>
      <div>
        <h2 class="text-2xl font-bold border-b-blue-400 border-b-2">Experience</h2>
        {
          experiences
            .sort((a, b) =>
              b.frontmatter.dates.localeCompare(a.frontmatter.dates),
            )
            .map(experience => (
              <div class="mb-2 mt-5">
                <div class="flex">
                  <h3 class="text-xl font-semibold p-job-title flex-grow">{experience.frontmatter.role}</h3>
                  <div class="flex">
                    <p class="p-description text-gray-600">{experience.frontmatter.location}</p>
                    <Icon class="aspect-square w-5 ms-1 text-blue-500" name="mdi:location" />
                  </div>
                </div>

                <div class="flex items-center">
                  <p class="text-blue-500 text-">{experience.frontmatter.enterprise}</p>
                  <p class="ms-1 text-gray-500 flex-grow">- {experience.frontmatter.description}</p>
                  <div class="flex">
                    <p class="p-description text-gray-600">{experience.frontmatter.dates}</p>
                    <Icon class="aspect-square w-5 ms-1 text-blue-500" name="mdi:calendar" />
                  </div>
                </div>

                <div class="mt-2 prose prose-li:mb-1 prose-li:mt-1 max-w-none">
                  <experience.Content />
                </div>
              </div>
            ))
          }
      </div>
  
      <div class="mt-8">
        <h2 class="text-2xl font-bold border-b-blue-400 border-b-2">Education</h2>
        <div class="mb-2 mt-4">
          <h3 class="text-xl font-semibold p-education-title">Master in Computer Engineering</h3>
          <p class="text-gray-600">EPITA - 2011 (France)</p>
        </div>
      </div>
    </section>
  </main>
  <div class="text-center m-10 no-print">
    <button onclick="window.print()" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-700">Print Resume</button>
  </div>  
</body>
</html>
